/* 레이어 우선순위 정의 (mantine을 가장 낮게 설정) */
@layer mantine, base, components, utilities;

/* Mantine 기본 변수 및 유틸리티(필수) */
@import '@mantine/core/styles.css' layer(mantine);
/* Tailwind */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
